<div class="row mb-4">
    <div class="col-md-7 mx-auto">
        <div class="shadow-lg card text-center" *ngIf="cat && image">
            <div class="card-header">
                {{ cat.name }}
            </div>
            <img class="card-img-top" [src]="image.url" alt="Card image cap">
            <div class="card-body">
            <p class="card-text">{{cat.description}}</p>
            </div>
            <div class="card-footer text-muted d-flex">
                <div class="col">
                    <a [routerLink]="['/cats']" class="btn-sm btn-danger">Regresar</a>
                </div>
                <div class="col">
                    <a [href]="cat.wikipedia_url" target="_blank" class="btn-sm btn-primary">Wikipedia</a>
                </div>
            </div>
        </div>
    </div>
</div>
<div *ngIf="error" class="alert alert-warning" role="alert">
    <h4 class="alert-heading">¡Ha ocurrido un error inesperado!</h4>
    <p>Lamentamos el inconveniente, al parecer no se ha encontrado el registro.</p>
    <hr>
    <p class="mb-0">Trabajaremos para darte una solucion muy pronto, te invitamos a probar <a [routerLink]="['/cats']">buscar otro gato.</a></p>
</div>