<h3>Puedes comenzar a filtrar por nombre u Origen</h3>

<form>
  <div class="form-group form-inline">
      Buscar: <input class="form-control ml-2" type="text" [formControl]="filter"/>
  </div>
</form>

<div class="card shadow-lg">
  <table class="table table-striped">
    <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Nombre</th>
      <th scope="col">Origen</th>
      <th scope="col">Accion</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let cat of showCats$ | async; index as i">
      <th scope="row">{{ i + 1 }}</th>
      <td>
        <ngb-highlight [result]="cat.name" [term]="filter.value"></ngb-highlight>
      </td>
      <td><ngb-highlight [result]="cat.origin" [term]="filter.value"></ngb-highlight></td>
      <td><a [routerLink]="['/cat', cat.id]" class="btn-sm btn-info">+Informacion</a></td>
    </tr>
    </tbody>
  </table>
</div>