<div class="row">

    <div class="col-12 col-lg-6 mb-sm-3">
        <h2 class="display-4 text-primary">¡Bienvenido!</h2>
        <p class="lead text-secondary">
            En esta aplicación podrás visualizar una lista de gatos que pueden ser de tu agrado, además de poder consultar mas información a detalle.
        </p>
        <p class="lead text-secondary">
            ¿Qué esperas?.
            ¡Estas a unos clics de conocer tu gato ideal¡.
        </p>
        <a class="btn btn-lg btn-block btn-primary" routerLink='/cats' >Ver listado</a>
    </div>

    <div class="col-12 col-lg-6">
        <img class="img-fluid mb-4" src="../../../assets/imgs/home-cat.svg" alt="Desarrollo Web">
    </div>

</div>