<nav class="navbar navbar-expand-md navbar-dark bg-dark">
    <a class="navbar-brand" href="#">{{ nameApp | uppercase}}</a>

    <button class="navbar-toggler navbar-toggler-right" type="button" aria-controls="appNavigation" aria-expanded="!isCollapsed" aria-label="Toggle navigation" (click)="toggleMenu()">
    <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="appNavigation" [ngbCollapse]="isCollapsed">
    <div class="navbar-nav mr-auto">
        <a class="nav-item nav-link" [routerLink]="['/home']" routerLinkActive="active">Home</a>
        <a class="nav-item nav-link" [routerLink]="['/cats']" routerLinkActive="active">Cats</a>
    </div>
    </div>
</nav>